.row_on td, .row_off td, div div .th td {
    border-bottom: 1px solid #E6E6E6;
    border: 1px solid #E6E6E6;
}

.row_off {
    color: black;
    background-color: #fff;
}

.row_on {
    color: black;
    background-color: #F1F1F1;
}

.fade.in {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0,0%);
    -ms-transform: translate(0,0%);
    -o-transform: translate(0,0%);
    transform: translate(0,0%);
}

.modal {
    z-index: 1050;
    overflow: hidden;
    outline: 0;
}

.fade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
     -webkit-transform: translate(0,-30%);
    -ms-transform: translate(0,-30%);
    -o-transform: translate(0,-30%);
    transform: translate(0,-30%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}


.modal-dialog {
    max-width: 700px;
    margin: 30px auto;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.modal-backdrop.in {
    opacity: .5;
    display: block;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    display: none;
}

.no-overflow {
    overflow: hidden;
}


#popupBox{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 120%;
    background-color: grey;
    display: none;
}
.onstatus {
    width: 800px;
    margin: 50px auto;
    height: 440px;
}

body {
    background: grey;
    margin: 0;
}

#content {
    padding: 8px;
}

div#attendance.manage.index, form {
    height: 100%;
}

form#table {
    height: auto;
}

.manage, .add, .edit {
    background: whitesmoke;
}


/*
*   Stylesheet for the dialog box
*/

#white-background{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .4);
    opacity: 50;
    z-index: 9999;
}
            
#dlgbox{
    /*initially dialog box is hidden*/
    display: none;
    position: fixed;
    width: 480px;
    z-index: 9999;
    border-radius: 10px;
    background-color: #6a6a6a;
    font-family: helvetica, arial, sans-serif;
}
            
#dlg-header{
    background-color: #ca1010;
    color: white;
    padding: 10px;
    margin: 10px 10px 0px 10px;
    font-size: 20px;
}
            
#dlg-body{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    font-size: 16px;
}
            
#dlg-footer{
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}
            
#dlg-footer button{
    text-shadow: none;
    border-radius: 3px;
    line-height: 22px;
    margin-left: 4px;
    border: none;
}

/*
*   Stylesheet for password box 
*/

#password {
    display: inline-flex;
    width: 100%;
    padding-top: 15px;
}

#pass_data {
    width: 100%;
    padding-bottom: 10px;
}

.background {
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    font-family: helvetica, arial, sans-serif;
    margin: 0 auto 40px;
    position: relative;
    width: 445px;
    margin-top: 70px;
}

.dialogBox {
    background-color: #fff;
    border-radius: 3px;
    position: relative;
}

.boxcontent {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    border-radius: 6px 6px 0 0;
    text-align: center;
}

.small_img {
    margin-right: 10px;
    border-radius: 20px;
    float: left;
    height: 130px;
    width: 130px;

}

.username {
    overflow: hidden;
}

._6a {
    display: inline-block;
}

._6b {
    vertical-align: middle;
}

.fontstyle {
    color: #333;
    font-weight: bold;
    font-size: 13px;
}

.security {
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputpassword {
    padding-bottom: 4px;
    border: 1px solid #bdc7d8;
    margin: 0;
    padding: 3px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.buttonbox {
    background-color: #fff;
    padding: 12px 0;
    border-top: 1px solid #dddfe2;
    margin: 0 12px;
    padding: 15px 0;
    text-align: right;
}

.dlg_button {
    padding: 0 8px;
    background: #f6f7f9;
    box-shadow: none;
    border: 0;
    border-radius: 3px;
    font-weight: bold;
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 25px;
    width: 120px;
    height: 35px;
}

.submit:hover {
    background-color: #379936;
    border-color: #379936;
    color: #fff;
}

.submit {
    background-color: #42b250;
    border-color: #42b250;
    color: #fff;
    text-shadow: none;
}

.cancel {
    background-color: #d45864;
    color: #fff;
    text-shadow: none;
}

.cancel:hover {
    background-color: #f30000;
    color: #fff;
}

/* Users */

#user_wrapper {
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-bottom: 15px;
}

#user_wrapper a {
    text-decoration: none;
}

#user_wrapper .user, .left .user, #password .user {
    margin: 4px;
	width: 200px;
    height: 262px;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#user_wrapper .user:hover, .left .user:hover {
    transform: translateY(-4px);
     -webkit-transform: translateY(-4px);
    -moz-transform: none;
    box-shadow: 0 5px 15px rgba(22,24,28,0.85);
    -webkit-box-shadow: 0 5px 15px rgba(22,24,28,0.85);
}

.user_details {
	width: 100%;
    height: 46px;
    background: rgb(0, 0, 0);
    bottom: 0;
    border-radius: 0 0 3px 3px;
    padding: 1px 0px;
    text-align: center;
}

.side {
    height: 100%;
}

.user_name {
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#user_data p {
    display: inline-block;
    width: 49%;
    font-size: 14px;
    color: rgba(74, 79, 88, 0.76);
    font-weight: bold;
    font-family: Robot, arial;
    text-align: center;
}

#user_image {
	width: 100%;
    height: 199px;
}

.content-box {
    padding: 15px;
    padding-bottom: 0;
}

#data-logs {
    display: inline-flex;
}

/*#user_ui {
    border-radius: 10px;
    width: 700px;
    background: white;
    margin-left: 415px;
    position: fixed;
    margin: 0px auto;
    left: 50%;
    z-index: 11;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 9999;
    transition: all 0.4s;
    overflow: hidden;
    opacity: 0;
    display: none;
    padding: 15px;
}

#user_ui.slide {
    top: 5px;
    opacity: 1;
    display: block;
}*/

.status_back {
	height: 16px;
    margin-top: -5px;
}

.roboto_regular {
    font-family: Roboto,Arial;
    font-size: 14px;
    color: rgba(74, 79, 88, 0.76);
    font-weight: bold;
    text-align: center;
}

.signika_regular {
    font-family: Signika,Arial;
    font-weight: 400;
}

#user_ui #message {
    display: none;
    padding: 10px 10px;
    border-left: 10px solid #379936;
    background: gainsboro;
    color: slategray;
    opacity: 1;
    transition: opacity 0.6s;
    font-size: 14px;
    font-weight: bold;
    font-family: Robot, arial;
}

.side {
    display: inline-block;
    margin: auto;
}

.right.side {
    width: 67%;
}

div#user_wrapper div.user_box, button {
    cursor: pointer;
}

div#user_wrapper div.user_box {
    width: 208px;
    display: inline-block;
}

.boxcontent {
    width: 35%;
}

#nmpd1 {
    display: block!important;
    width: 64%;
}

#nmpd1 .nmpd-grid {
    position: relative!important;
    left: 0!important;
    top: 0!important;
    width: 100%;
}

@media (max-width: 1000px) {

    #data-logs {
        display: inline-block;
        width: 100%;
    }
    
    #user_data p {
        font-size: 20px;
    }

    .modal-dialog {
        max-width: 100%;
        margin: 0;
        height: 100%;
    }

    .modal-content{
        height: 100%; 
        border: 0;
    }

    .left.side, .right.side {
        text-align: center;
        vertical-align: middle;
    }

    .dlg_button {
        font-size: 24px;
        width: 250px;
        height: 70px;
        border-radius: 5px;
        margin-bottom: 30px;

    }

    .roboto_regular {
        font-size: 18px;
    }

    .content-box {
        padding: 15px 52px;
        padding-bottom: 0;
    }
}